In [1]:
import os
import sys
PROJECT_PATH = "/home/albert/Baikal-ML/" #insert your project path
sys.path.append(f"{PROJECT_PATH}")

import numpy as np
import uproot as ur
import pandas as pd

from data.root_manager.root_reader import RootReader
from data.data_processor import Processor

In [2]:
prty_type = 'muatm'
#path_to_roots = f'{PROJECT_PATH}data/mock_MC_2020/{prty_type}/root/all/'
#path_to_roots = f'/net/62/home3/ivkhar/Baikal/data/initial_data/MC_2020/muatm/root/all/'
path_to_roots = '/home/albert/Baikal-ML/data/mock_MC_2020/muatm/root/all/'

files = os.listdir(f'{path_to_roots}')[0:100]
paths = sorted([f"{path_to_roots}{file}" for file in files])[0:10]

In [3]:
proc = Processor(paths)

In [59]:
events, pulses, muons = proc.load_chunk_as_dfs(paths, proc._extract_prefixes(paths))

In [60]:
events_f, pulses_f, muons_f = proc.enrich_and_filter(events, pulses, muons)

In [61]:
events_f.dtypes

PulsesN                        int32
PrimeTheta                   float32
PrimePhi                     float32
PrimeEn                      float32
PrimeNuclN                     int32
ResponseMuN                    int32
BundleEnReg                  float32
EventWeight                  float32
signal_hits_num                int16
unique_signal_strings_num    float16
dtype: object

In [62]:
pulses_f.dtypes

PulsesChID       int16
PulsesAmpl     float32
PulsesTime     float32
PulsesFlg        int32
is_signal         bool
mu_local_id      int16
string_id         int8
Xrel           float64
Yrel           float64
Zrel           float64
dtype: object

In [63]:
# Refactor all like this!

In [65]:
events_f = events_f.join(pulses_f['PulsesChID'].groupby(['ev_id','cluster_id']).apply(np.array))

In [66]:
events_f

,,PulsesN,PrimeTheta,PrimePhi,PrimeEn,PrimeNuclN,ResponseMuN,BundleEnReg,EventWeight,signal_hits_num,unique_signal_strings_num,PulsesChID
ev_id,cluster_id,,,,,,,,,,,
muatm_66470_0,6,109,162.104385,297.663574,363.078400,402,12,10148.074219,1.0,13,3.0,"[2014, 1854, 1749, 2012, 1790, 1988, 1735, 190..."
muatm_66470_1,4,78,120.709091,68.117889,212.226227,402,6,2933.919922,1.0,7,3.0,"[1313, 1244, 1343, 1206, 1376, 1172, 1237, 134..."
muatm_66470_10,6,93,126.777817,60.722748,47.248352,14,1,2706.194824,1.0,5,2.0,"[1909, 1997, 1867, 1769, 1960, 1860, 1899, 186..."
muatm_66470_10003,1,99,137.511322,219.266235,192.681641,402,10,5426.134277,1.0,16,4.0,"[530, 499, 385, 421, 561, 495, 528, 322, 555, ..."
muatm_66470_10004,2,86,170.173203,335.954773,52.674999,402,3,1972.445312,1.0,13,3.0,"[830, 834, 755, 827, 639, 787, 595, 824, 656, ..."
...,...,...,...,...,...,...,...,...,...,...,...,...
muatm_66479_9988,2,98,135.218521,325.214569,38.486275,402,2,847.011719,1.0,5,3.0,"[646, 838, 599, 738, 631, 660, 649, 856, 680, ..."
muatm_66479_9989,4,75,138.843643,74.598328,401.458893,402,12,12286.054688,1.0,15,5.0,"[1261, 1204, 1276, 1309, 1180, 1345, 1169, 116..."
muatm_66479_9990,2,88,152.755905,144.538940,468.646423,14,12,6421.215820,1.0,8,2.0,"[638, 821, 754, 645, 754, 776, 828, 673, 634, ..."
muatm_66479_9992,1,122,155.672760,33.618591,3874.791748,402,75,58573.171875,1.0,51,5.0,"[565, 381, 408, 344, 401, 529, 386, 298, 435, ..."
muatm_66479_9993,1,103,153.341736,214.114807,177.374649,402,8,7167.631836,1.0,11,4.0,"[458, 315, 332, 402, 570, 338, 394, 324, 442, ..."

In [37]:
pulses_f

                              PulsesChID  PulsesAmpl   PulsesTime  PulsesFlg  \
ev_id             cluster_id
muatm_66470_0     6                 2014    2.292498 -1182.611084          0
                  6                 1854    0.992918 -1180.108398          0
                  6                 1749    0.814583 -1140.909668          0
                  6                 2012    0.388047 -1120.847778          0
                  6                 1790    0.131297 -1111.464478          0
...                                  ...         ...          ...        ...
muatm_66479_26117 6                 1868    1.302768  3988.467041          0
                  6                 1835    1.005057  4049.750488          0
                  6                 1897    0.118051  4101.555664          0
                  6                 1859    0.428045  4117.368652          0
                  6                 1971    0.036301  4132.232422          0

                              is_signal  mu_local_id  string_id       Xrel  \
ev_id             cluster_id
muatm_66470_0     6               False           -1         55   1.208765
                  6               False           -1         51  19.418756
                  6               False           -1         48  10.497736
                  6               False           -1         55   1.208765
                  6               False           -1         49  49.316767
...                                 ...          ...        ...        ...
muatm_66479_26117 6               False           -1         51  19.418756
                  6               False           -1         50  53.101755
                  6               False           -1         52 -33.253271
                  6               False           -1         51  19.418756
                  6               False           -1         54 -41.625219

                                   Yrel        Zrel
ev_id             cluster_id
muatm_66470_0     6           -0.881740  247.473430
                  6          -57.282748    7.315432
                  6           58.085256   52.869415
                  6           -0.881740  217.462383
                  6           30.902242  127.579418
...                                 ...         ...
muatm_66479_26117 6          -57.282748  217.583431
                  6          -21.413745  262.843425
                  6          -49.427752  112.744411
                  6          -57.282748   82.437419
                  6           44.301244  142.960430

[9001456 rows x 10 columns]

In [8]:
muons_f.dtypes

RespMuTheta     float32
RespMuPhi       float32
RespMuTrackX    float32
RespMuTrackY    float32
RespMuTrackZ    float32
RespMuDelay     float32
RespMuEn        float32
dtype: object

In [23]:
pulses_f.reset_index().to_hdf('test.h5', mode='w', key='muatm/hits', complevel=1)

In [68]:
events_f.reset_index().to_hdf('test.h5', mode='w', key='muatm/events', complevel=1)

/tmp/ipykernel_2696039/829830349.py:1: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->mixed,key->block5_values] [items->Index(['ev_id', 'PulsesChID'], dtype='object')]

  events_f.reset_index().to_hdf('test.h5', mode='w', key='muatm/events', complevel=1)

In [25]:
muons_f.reset_index().to_hdf('test.h5', mode='a', key='muatm/mu_info', complevel=1)

In [26]:
0.174/10*23_000*1.3

520.26

In [69]:
events_load = pd.read_hdf('/home/albert/Baikal-ML/ipynb_tests/test.h5', key='muatm/events', start=0, stop=1024)

In [70]:
events_load['ev_id'].value_counts()

ev_id
muatm_66470_11813    2
muatm_66470_11979    2
muatm_66470_10110    2
muatm_66470_1196     2
muatm_66470_10966    2
                    ..
muatm_66470_10836    1
muatm_66470_10839    1
muatm_66470_10842    1
muatm_66470_10843    1
muatm_66470_12593    1
Name: count, Length: 1007, dtype: int64

In [71]:
events_load#.loc[events_load['ev_id'] == 'muatm_66470_11813']

,ev_id,cluster_id,PulsesN,PrimeTheta,PrimePhi,PrimeEn,PrimeNuclN,ResponseMuN,BundleEnReg,EventWeight,signal_hits_num,unique_signal_strings_num,PulsesChID
0,muatm_66470_0,6,109,162.104385,297.663574,363.078400,402,12,10148.074219,1.0,13,3.0,"[2014, 1854, 1749, 2012, 1790, 1988, 1735, 190..."
1,muatm_66470_1,4,78,120.709091,68.117889,212.226227,402,6,2933.919922,1.0,7,3.0,"[1313, 1244, 1343, 1206, 1376, 1172, 1237, 134..."
2,muatm_66470_10,6,93,126.777817,60.722748,47.248352,14,1,2706.194824,1.0,5,2.0,"[1909, 1997, 1867, 1769, 1960, 1860, 1899, 186..."
3,muatm_66470_10003,1,99,137.511322,219.266235,192.681641,402,10,5426.134277,1.0,16,4.0,"[530, 499, 385, 421, 561, 495, 528, 322, 555, ..."
4,muatm_66470_10004,2,86,170.173203,335.954773,52.674999,402,3,1972.445312,1.0,13,3.0,"[830, 834, 755, 827, 639, 787, 595, 824, 656, ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1019,muatm_66470_12582,2,74,147.147400,304.312622,136.737442,5626,6,2568.983643,1.0,7,2.0,"[699, 738, 801, 856, 811, 848, 839, 621, 752, ..."
1020,muatm_66470_12586,5,90,130.422791,174.006470,29.576620,14,2,1752.090820,1.0,8,3.0,"[1676, 1521, 1465, 1726, 1632, 1604, 1621, 149..."
1021,muatm_66470_12587,1,75,139.853790,93.479492,496.858124,14,6,4477.503906,1.0,8,2.0,"[493, 330, 308, 567, 377, 329, 532, 366, 358, ..."
1022,muatm_66470_12590,5,149,154.868225,359.087891,5.186781,14,2,649.771851,1.0,6,2.0,"[1598, 1719, 1622, 1516, 1673, 1456, 1449, 146..."
1023,muatm_66470_12593,6,96,142.863556,162.082886,68.359810,402,2,1636.657227,1.0,6,2.0,"[1773, 2007, 2009, 1829, 1861, 1897, 1787, 196..."

In [34]:
muons_load = pd.read_hdf('/home/albert/Baikal-ML/ipynb_tests/test.h5', key='muatm/mu_info')

In [35]:
muons_load

,ev_id,mu_local_id,RespMuTheta,RespMuPhi,RespMuTrackX,RespMuTrackY,RespMuTrackZ,RespMuDelay,RespMuEn
0,muatm_66470_0,0,162.104385,297.663574,-220.355331,33.681580,-42.668026,0.0,253.277191
1,muatm_66470_0,1,162.104385,297.663574,-185.987885,52.382080,-42.863968,0.0,-34.945328
2,muatm_66470_0,2,162.104385,297.663574,-252.868805,26.326200,-45.438789,0.0,21.909910
3,muatm_66470_0,3,162.104385,297.663574,-250.984055,68.951874,-57.346947,0.0,-35.028969
4,muatm_66470_0,4,162.104385,297.663574,-230.734604,31.938164,-43.725452,0.0,93.766808
...,...,...,...,...,...,...,...,...,...
796651,muatm_66479_9993,3,153.341736,214.114807,-71.617218,-13.354655,33.527393,0.0,191.036850
796652,muatm_66479_9993,4,153.341736,214.114807,-79.657013,7.038718,31.126963,0.0,92.220505
796653,muatm_66479_9993,5,153.341736,214.114807,-74.238319,-13.361897,34.618874,0.0,327.205475
796654,muatm_66479_9993,6,153.341736,214.114807,-97.195847,-7.272099,42.446304,0.0,58.582050
796655,muatm_66479_9993,7,153.341736,214.114807,-76.335587,-8.204931,34.038551,0.0,3312.076904

In [27]:
pulses_load = pd.read_hdf('/home/albert/Baikal-ML/ipynb_tests/test.h5', key='muatm/hits', start=0, stop=10_000)