In [16]:
import os
import sys
PROJECT_PATH = "/home/albert/Baikal-ML/" #insert your project path
sys.path.append(f"{PROJECT_PATH}")

import numpy as np
import uproot as ur
import pandas as pd

from data.root_manager.root_reader import RootReader
from data.data_processor import Processor

In [2]:
prty_type = 'muatm'
#path_to_roots = f'{PROJECT_PATH}data/mock_MC_2020/{prty_type}/root/all/'
#path_to_roots = f'/net/62/home3/ivkhar/Baikal/data/initial_data/MC_2020/muatm/root/all/'
path_to_roots = '/home/albert/Baikal-ML/data/mock_MC_2020/muatm/root/all/'

files = os.listdir(f'{path_to_roots}')[0:100]
paths = sorted([f"{path_to_roots}{file}" for file in files])
paths

['/home/albert/Baikal-ML/data/mock_MC_2020/muatm/root/all/66470.root',
 '/home/albert/Baikal-ML/data/mock_MC_2020/muatm/root/all/66471.root',
 '/home/albert/Baikal-ML/data/mock_MC_2020/muatm/root/all/66472.root',
 '/home/albert/Baikal-ML/data/mock_MC_2020/muatm/root/all/66473.root',
 '/home/albert/Baikal-ML/data/mock_MC_2020/muatm/root/all/66474.root',
 '/home/albert/Baikal-ML/data/mock_MC_2020/muatm/root/all/66475.root',
 '/home/albert/Baikal-ML/data/mock_MC_2020/muatm/root/all/66476.root',
 '/home/albert/Baikal-ML/data/mock_MC_2020/muatm/root/all/66477.root',
 '/home/albert/Baikal-ML/data/mock_MC_2020/muatm/root/all/66478.root',
 '/home/albert/Baikal-ML/data/mock_MC_2020/muatm/root/all/66479.root']

In [3]:
proc = Processor(paths)

# Read data from root

In [4]:
paths_slice = paths[0:10]
dfs = proc.load_chunk_as_dfs(paths_slice, proc._extract_prefixes(paths_slice))

In [5]:
d = pd.Int16Dtype()
d.type

numpy.int16

In [6]:
events, pulses, muons = dfs[0:3]

In [7]:
events['PulsesN'].max()

392

In [11]:
pulses

                                 PulsesChID  PulsesAmpl   PulsesTime  \
ev_id                cluster_id
b'muatm_66470_0'     6                 2014    2.292498 -1182.611084
                     6                 1854    0.992918 -1180.108398
                     6                 1749    0.814583 -1140.909668
                     6                 2012    0.388047 -1120.847778
                     6                 1790    0.131297 -1111.464478
...                                     ...         ...          ...
b'muatm_66479_26117' 6                 1868    1.302768  3988.467041
                     6                 1835    1.005057  4049.750488
                     6                 1897    0.118051  4101.555664
                     6                 1859    0.428045  4117.368652
                     6                 1971    0.036301  4132.232422

                                 PulsesFlg  is_signal  mu_local_id  string_id
ev_id                cluster_id
b'muatm_66470_0'     6                   0      False         <NA>         55
                     6                   0      False         <NA>         51
                     6                   0      False         <NA>         48
                     6                   0      False         <NA>         55
                     6                   0      False         <NA>         49
...                                    ...        ...          ...        ...
b'muatm_66479_26117' 6                   0      False         <NA>         51
                     6                   0      False         <NA>         50
                     6                   0      False         <NA>         52
                     6                   0      False         <NA>         51
                     6                   0      False         <NA>         54

[23538040 rows x 7 columns]

In [9]:
pulses.memory_usage()/1024/1024

Index          122.296408
PulsesChID      44.895248
PulsesAmpl      89.790497
PulsesTime      89.790497
PulsesFlg       89.790497
is_signal       22.447624
mu_local_id     67.342873
string_id       22.447624
dtype: float64

In [10]:
muons

                               RespMuTheta   RespMuPhi  RespMuTrackX  \
ev_id             mu_local_id
muatm_66470_0     0             162.104385  297.663574   -220.355331
                  1             162.104385  297.663574   -185.987885
                  2             162.104385  297.663574   -252.868805
                  3             162.104385  297.663574   -250.984055
                  4             162.104385  297.663574   -230.734604
...                                    ...         ...           ...
muatm_66479_26117 5             152.613373  308.071716   -240.904602
                  6             152.613373  308.071716   -253.936600
                  7             152.613373  308.071716   -259.459442
                  8             152.613373  308.071716   -249.616074
                  9             152.613373  308.071716   -258.039795

                               RespMuTrackY  RespMuTrackZ  RespMuDelay  \
ev_id             mu_local_id
muatm_66470_0     0               33.681580    -42.668026          0.0
                  1               52.382080    -42.863968          0.0
                  2               26.326200    -45.438789          0.0
                  3               68.951874    -57.346947          0.0
                  4               31.938164    -43.725452          0.0
...                                     ...           ...          ...
muatm_66479_26117 5               59.526394   -101.235321          0.0
                  6               59.837528   -105.525360          0.0
                  7               65.114273   -109.441704          0.0
                  8               58.214764   -103.483330          0.0
                  9               70.778542   -111.298271          0.0

                                  RespMuEn
ev_id             mu_local_id
muatm_66470_0     0             253.277191
                  1             -34.945328
                  2              21.909910
                  3             -35.028969
                  4              93.766808
...                                    ...
muatm_66479_26117 5              98.797783
                  6              75.430328
                  7            1016.766846
                  8             187.189743
                  9             245.625214

[972791 rows x 7 columns]

# Test Filtering

In [12]:
events_f, pulses_f, muons_f = proc.enrich_and_filter(events, pulses, muons)

In [13]:
pulses_f

                                 PulsesChID  PulsesAmpl   PulsesTime  \
ev_id                cluster_id
b'muatm_66470_0'     6                 2014    2.292498 -1182.611084
                     6                 1854    0.992918 -1180.108398
                     6                 1749    0.814583 -1140.909668
                     6                 2012    0.388047 -1120.847778
                     6                 1790    0.131297 -1111.464478
...                                     ...         ...          ...
b'muatm_66479_26117' 6                 1868    1.302768  3988.467041
                     6                 1835    1.005057  4049.750488
                     6                 1897    0.118051  4101.555664
                     6                 1859    0.428045  4117.368652
                     6                 1971    0.036301  4132.232422

                                 PulsesFlg  is_signal  mu_local_id  string_id  \
ev_id                cluster_id
b'muatm_66470_0'     6                   0      False         <NA>         55
                     6                   0      False         <NA>         51
                     6                   0      False         <NA>         48
                     6                   0      False         <NA>         55
                     6                   0      False         <NA>         49
...                                    ...        ...          ...        ...
b'muatm_66479_26117' 6                   0      False         <NA>         51
                     6                   0      False         <NA>         50
                     6                   0      False         <NA>         52
                     6                   0      False         <NA>         51
                     6                   0      False         <NA>         54

                                      Xrel       Yrel        Zrel
ev_id                cluster_id
b'muatm_66470_0'     6            1.208765  -0.881740  247.473430
                     6           19.418756 -57.282748    7.315432
                     6           10.497736  58.085256   52.869415
                     6            1.208765  -0.881740  217.462383
                     6           49.316767  30.902242  127.579418
...                                    ...        ...         ...
b'muatm_66479_26117' 6           19.418756 -57.282748  217.583431
                     6           53.101755 -21.413745  262.843425
                     6          -33.253271 -49.427752  112.744411
                     6           19.418756 -57.282748   82.437419
                     6          -41.625219  44.301244  142.960430

[9001456 rows x 10 columns]

# Invent Saving

In [15]:
pulses_f_f = pulses_f[['PulsesChID', 'PulsesAmpl',	'PulsesTime', 'PulsesFlg']]
pulses_f_f.memory_usage()/1024/1024, pulses_f_f.dtypes

(Index         45.654406
 PulsesChID    17.168915
 PulsesAmpl    34.337830
 PulsesTime    34.337830
 PulsesFlg     34.337830
 dtype: float64,
 PulsesChID      int16
 PulsesAmpl    float32
 PulsesTime    float32
 PulsesFlg       int32
 dtype: object)

In [20]:
pulses_f_f.dtypes

PulsesChID      int16
PulsesAmpl    float32
PulsesTime    float32
PulsesFlg       int32
dtype: object

In [28]:
#pd.concat([pulses_f]*10).to_hdf('pulses_test.h5', key='pulses_f', mode='w', complevel=9)

0.192/10*20_000*1.3

499.2000000000001

In [25]:
#pd.concat([pulses_f]*10).to_hdf('events_test.h5', key='pulses_f', mode='w', complevel=9)

In [65]:
pulses_f

                              PulsesChID  PulsesAmpl   PulsesTime  PulsesFlg  \
ev_id             cluster_id
muatm_1000_12     6                 1872    0.888659  -684.471924          0
                  6                 1745    0.488199  -635.790100          0
                  6                 1954    0.367171  -573.415588          0
                  6                 1976    1.163727  -521.362000          0
                  6                 1814    0.535621  -498.524323          0
...                                  ...         ...          ...        ...
muatm_10008_32224 2                  825    0.252341  4251.020020          0
                  2                  684    0.818246  4350.900391          0
                  2                  702    0.848215  4440.893066          0
                  2                  706    0.254005  4561.691406          0
                  2                  647    5.587204  4622.294434          0

                              is_signal  mu_local_id  string_id       Xrel  \
ev_id             cluster_id
muatm_1000_12     6               False          NaN         52 -33.253271
                  6               False          NaN         48  10.497736
                  6               False          NaN         54 -41.625219
                  6               False          NaN         54 -41.625219
                  6               False          NaN         50  53.101755
...                                 ...          ...        ...        ...
muatm_10008_32224 2               False          NaN         22 -40.877882
                  2               False          NaN         19  17.135126
                  2               False          NaN         19  17.135126
                  2               False          NaN         19  17.135126
                  2               False          NaN         17  50.538114

                                   Yrel        Zrel
ev_id             cluster_id
muatm_1000_12     6          -49.427752 -263.135579
                  6           58.085256   -7.233591
                  6           44.301244 -112.362576
                  6           44.301244  218.048397
                  6          -21.413745  -52.615582
...                                 ...         ...
muatm_10008_32224 2           41.557367  232.762991
                  2          -56.806616 -262.318979
                  2          -56.806616    7.548973
                  2          -56.806616   67.617018
                  2           31.678370  262.768973

[9056041 rows x 10 columns]

In [67]:
pulses_fn = pulses_f.convert_dtypes()

In [77]:
pulses_f.index

MultiIndex([(    'muatm_1000_12', 6),
            (    'muatm_1000_12', 6),
            (    'muatm_1000_12', 6),
            (    'muatm_1000_12', 6),
            (    'muatm_1000_12', 6),
            (    'muatm_1000_12', 6),
            (    'muatm_1000_12', 6),
            (    'muatm_1000_12', 6),
            (    'muatm_1000_12', 6),
            (    'muatm_1000_12', 6),
            ...
            ('muatm_10008_32224', 2),
            ('muatm_10008_32224', 2),
            ('muatm_10008_32224', 2),
            ('muatm_10008_32224', 2),
            ('muatm_10008_32224', 2),
            ('muatm_10008_32224', 2),
            ('muatm_10008_32224', 2),
            ('muatm_10008_32224', 2),
            ('muatm_10008_32224', 2),
            ('muatm_10008_32224', 2)],
           names=['ev_id', 'cluster_id'], length=9056041)

In [89]:
#TODO fix dtypes in reader

127

In [71]:
pulses_f.dtypes, pulses_fn.dtypes

(PulsesChID       int32
 PulsesAmpl     float32
 PulsesTime     float32
 PulsesFlg        int32
 is_signal         bool
 mu_local_id    float64
 string_id        int32
 Xrel           float64
 Yrel           float64
 Zrel           float64
 dtype: object,
 PulsesChID       Int32
 PulsesAmpl     Float32
 PulsesTime     Float32
 PulsesFlg        Int32
 is_signal      boolean
 mu_local_id      Int64
 string_id        Int32
 Xrel           Float64
 Yrel           Float64
 Zrel           Float64
 dtype: object)

In [68]:
pulses_fn.memory_usage()/1024/1024

Index          48.217360
PulsesChID     43.182569
PulsesAmpl     43.182569
PulsesTime     43.182569
PulsesFlg      43.182569
is_signal      17.273027
mu_local_id    77.728623
string_id      43.182569
Xrel           77.728623
Yrel           77.728623
Zrel           77.728623
dtype: float64

In [69]:
pulses_f.memory_usage()/1024/1024

Index          48.217360
PulsesChID     34.546055
PulsesAmpl     34.546055
PulsesTime     34.546055
PulsesFlg      34.546055
is_signal       8.636514
mu_local_id    69.092110
string_id      34.546055
Xrel           69.092110
Yrel           69.092110
Zrel           69.092110
dtype: float64

In [19]:
pulses_f_f.to_hdf('pulses_test.h5', key='pulses_f', mode='w', complevel=1)

/tmp/ipykernel_2629652/794448864.py:1: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->bytes,key->axis1_level0] [items->None]

  pulses_f_f.to_hdf('pulses_test.h5', key='pulses_f', mode='w', complevel=1)

In [24]:
muons_f.to_hdf('muons_f.h5', key='pulses_f', mode='w', complevel=1)

In [19]:
pd.read_hdf('/home/albert/Baikal-ML/ipynb_tests/pulses_test.h5')#, start=0, stop=100_000)#, key='pulses_f')

                                 PulsesChID  PulsesAmpl   PulsesTime  \
ev_id                cluster_id
b'muatm_66470_0'     6                 2014    2.292498 -1182.611084
                     6                 1854    0.992918 -1180.108398
                     6                 1749    0.814583 -1140.909668
                     6                 2012    0.388047 -1120.847778
                     6                 1790    0.131297 -1111.464478
...                                     ...         ...          ...
b'muatm_66479_26117' 6                 1868    1.302768  3988.467041
                     6                 1835    1.005057  4049.750488
                     6                 1897    0.118051  4101.555664
                     6                 1859    0.428045  4117.368652
                     6                 1971    0.036301  4132.232422

                                 PulsesFlg
ev_id                cluster_id
b'muatm_66470_0'     6                   0
                     6                   0
                     6                   0
                     6                   0
                     6                   0
...                                    ...
b'muatm_66479_26117' 6                   0
                     6                   0
                     6                   0
                     6                   0
                     6                   0

[9001456 rows x 4 columns]

In [54]:
np.int16(8000), np.array(['muatm_1000_12'], dtype=type(b'str'))

(8000, array([b'muatm_1000_12'], dtype='|S13'))

In [64]:
sys.getsizeof('muatm_1000_12_6'), sys.getsizeof(b'muatm_1000_12_6')

(64, 48)

In [14]:
import h5py as h5

with h5.File("/home/albert/Baikal-ML/ipynb_tests/muons_f.h5") as hf:
   #print(hf['pulses_f'].keys())
    print(hf['pulses_f/block0_items'][:])

[b'RespMuTheta' b'RespMuPhi' b'RespMuTrackX' b'RespMuTrackY'
 b'RespMuTrackZ' b'RespMuDelay' b'RespMuEn']

# Invent Filtering

In [13]:
signal_hits_per_cluster = pulses[['is_signal']].groupby(['ev_id','cluster_id']).sum().rename(columns={'is_signal': 'signal_hits_num'})

In [14]:
signal_hits_per_cluster

                             signal_hits_num
ev_id            cluster_id
muatm_66470_0    6                        13
muatm_66470_1    4                         7
muatm_66470_10   6                         5
muatm_66470_100  4                         3
muatm_66470_1000 1                         4
...                                      ...
muatm_66479_9995 1                         0
muatm_66479_9996 1                         0
muatm_66479_9997 5                         3
muatm_66479_9998 4                         3
muatm_66479_9999 2                         4

[264933 rows x 1 columns]

In [15]:
string_nums = pulses[pulses['is_signal']][['string_id']].groupby(['ev_id','cluster_id']
    ).nunique(
    ).rename(columns={'string_id': 'unique_signal_strings_num'})

In [16]:
events_enrich = events.join(signal_hits_per_cluster, how='left').join(string_nums, how='left')
events_filter = events_enrich[(events_enrich['signal_hits_num']>=5) & (events_enrich['unique_signal_strings_num']>=2)]

In [17]:
events_filter

,,PulsesN,PrimeTheta,PrimePhi,PrimeEn,PrimeNuclN,ResponseMuN,BundleEnReg,EventWeight,signal_hits_num,unique_signal_strings_num
ev_id,cluster_id,,,,,,,,,,
muatm_66470_0,6,109,162.104385,297.663574,363.078400,402.0,12.0,10148.074219,1.0,13,3.0
muatm_66470_1,4,78,120.709091,68.117889,212.226227,402.0,6.0,2933.919922,1.0,7,3.0
muatm_66470_10,6,93,126.777817,60.722748,47.248352,14.0,1.0,2706.194824,1.0,5,2.0
muatm_66470_10003,1,99,137.511322,219.266235,192.681641,402.0,10.0,5426.134277,1.0,16,4.0
muatm_66470_10004,2,86,170.173203,335.954773,52.674999,402.0,3.0,1972.445312,1.0,13,3.0
...,...,...,...,...,...,...,...,...,...,...,...
muatm_66479_9988,2,98,135.218521,325.214569,38.486275,402.0,2.0,847.011719,1.0,5,3.0
muatm_66479_9989,4,75,138.843643,74.598328,401.458893,402.0,12.0,12286.054688,1.0,15,5.0
muatm_66479_9990,2,88,152.755905,144.538940,468.646423,14.0,12.0,6421.215820,1.0,8,2.0
muatm_66479_9992,1,122,155.672760,33.618591,3874.791748,402.0,75.0,58573.171875,1.0,51,5.0
muatm_66479_9993,1,103,153.341736,214.114807,177.374649,402.0,8.0,7167.631836,1.0,11,4.0

In [18]:
bad_idxs = signal_hits_per_cluster.index[signal_hits_per_cluster['signal_hits_num']<10000].union(string_nums.index[string_nums['unique_signal_strings_num']<2])
pulses_filter = pulses.drop(bad_idxs)

KeyboardInterrupt:

In [19]:
pulses_filter[pulses_filter['is_signal']]

Empty DataFrame
Columns: [PulsesChID, PulsesAmpl, PulsesTime, PulsesFlg, is_signal, mu_local_id, string_id]
Index: []

In [20]:
muons_filter = muons.loc[events_filter.reset_index()['ev_id']]

In [21]:
muons_filter

                              RespMuTheta   RespMuPhi  RespMuTrackX  \
ev_id            mu_local_id
muatm_66470_0    0             162.104385  297.663574   -220.355331
                 1             162.104385  297.663574   -185.987885
                 2             162.104385  297.663574   -252.868805
                 3             162.104385  297.663574   -250.984055
                 4             162.104385  297.663574   -230.734604
...                                   ...         ...           ...
muatm_66479_9993 3             153.341736  214.114807    -71.617218
                 4             153.341736  214.114807    -79.657013
                 5             153.341736  214.114807    -74.238319
                 6             153.341736  214.114807    -97.195847
                 7             153.341736  214.114807    -76.335587

                              RespMuTrackY  RespMuTrackZ  RespMuDelay  \
ev_id            mu_local_id
muatm_66470_0    0               33.681580    -42.668026          0.0
                 1               52.382080    -42.863968          0.0
                 2               26.326200    -45.438789          0.0
                 3               68.951874    -57.346947          0.0
                 4               31.938164    -43.725452          0.0
...                                    ...           ...          ...
muatm_66479_9993 3              -13.354655     33.527393          0.0
                 4                7.038718     31.126963          0.0
                 5              -13.361897     34.618874          0.0
                 6               -7.272099     42.446304          0.0
                 7               -8.204931     34.038551          0.0

                                 RespMuEn
ev_id            mu_local_id
muatm_66470_0    0             253.277191
                 1             -34.945328
                 2              21.909910
                 3             -35.028969
                 4              93.766808
...                                   ...
muatm_66479_9993 3             191.036850
                 4              92.220505
                 5             327.205475
                 6              58.582050
                 7            3312.076904

[796656 rows x 7 columns]