In [2]:
import sys
PROJECT_PATH = "/home/albert/Baikal-ML/" #insert your project path
sys.path.append(f"{PROJECT_PATH}")
from data.root_manager.root_reader import RootReader
import uproot as ur

In [3]:
with ur.open('./mock_MC_2020/muatm/root/all/66470.root') as rf:
    rr = RootReader(rf)
    print(rr.start)
    print(rr.PulsesN.array(library="np"))
    df_ev = rr.read_events_as_df()
    df_puls = rr.read_pulses_as_df()
    df_muons = rr.read_ind_mu_as_df()

0
[109  78  86 ...  72  88  67]

In [4]:
df_ev.head(3)

,PulsesN,PrimeTheta,PrimePhi,PrimeEn,PrimeNuclN,ResponseMuN,BundleEnReg,EventWeight,ev_id
0,109,162.104385,297.663574,363.0784,402.0,12.0,10148.074219,1.0,0
1,78,120.709091,68.117889,212.226227,402.0,6.0,2933.919922,1.0,1
2,86,176.489609,334.958191,36.855133,14.0,3.0,2063.121338,1.0,2

In [5]:
df_puls.head(3)

     PulsesChID  PulsesAmpl   PulsesTime  PulsesFlg  ev_id
106        2014    2.292498 -1182.611084          0      0
38         1854    0.992918 -1180.108398          0      0
4          1749    0.814583 -1140.909668          0      0

In [6]:
df_muons.head(3)

,RespMuTheta,RespMuPhi,RespMuTrackX,RespMuTrackY,RespMuTrackZ,RespMuDelay,RespMuEn,ev_id
0,162.104385,297.663574,-220.355331,33.68158,-42.668026,0.0,253.277191,0
1,162.104385,297.663574,-185.987885,52.38208,-42.863968,0.0,-34.945328,0
2,162.104385,297.663574,-252.868805,26.32620,-45.438789,0.0,21.909910,0